<div class="senai-logo">
    <img src="../images/sistema_fiep_senai.png" />
</div>

<div class="header-pages">
    <div class="pages" id="dashboardHeader">
        <p class="active" id="page-main">DASHBOARD</p>
        <p id="page-2">AVISOS</p>
        
    </div>

    <div class="pages" id="equipeHeader">
        <p class="active" id="page-main">EQUIPE</p>
        <p id="page-2">AVISOS</p>
    </div>

    <div class="pages" id="emprestimosHeader">
        <p class="active" id="page-main">EMPRÉSTIMOS</p>
        <p id="page-2">AGENDAR EMPRÉSTIMOS</p>
        <p id="page-3">RELATÓRIOS</p>
    </div>
</div>