<div class="sidebar">
    <div class="logo">
        <img src="images/small-logo.png" />
    </div>

    <div class="user">
        <img src="images/user.png" />
        <p>USERNAME</p>
    </div>

    <nav class="nav-menu">
        <li class="active">
            <a href="http://localhost:8080/"
                ><img src="images/dashboard.png" /> <span>DASHBOARD</span></a
            >
        </li>
        <li id="sideEmprestimos">
            <a href="http://localhost:8080/emprestimos"
                ><img src="images/emprestimos.png" /> <span>EMPRÉSTIMOS</span></a
            >
        </li>
        <li id="sideEquipamentos">
            <a href="http://localhost:8080/equipamentos"
                ><img src="images/equipamentos.png" /> <span>EQUIPAMENTOS</span></a
            >
        </li>
        <li id="sideEquipe">
            <a href="http://localhost:8080/equipe"
                ><img src="images/equipe.png" /> <span>EQUIPE</span></a
            >
        </li>
        <li id="sideAreas">
            <a href="http://localhost:8080/areas"
                ><img src="images/areas.png" /><span>ÁREAS</span></a
            >
        </li>
    </nav>

    <nav class="nav-bottom">
        <li id="config">
            <a href="http://localhost:8080/config">
                <img src="images/config.png" /> <span>CONFIGURAÇÕES</span>
            </a>
        </li>
        <li>
            <a href="http://localhost:8080/logout">
                <img src="images/logout.png" /> <span>SAIR</span>
            </a>
        </li>
    </nav>
</div>
