<div class="sidebar">
    <div class="logo">
        <img src="images/logo.png" />
    </div>

    <div class="user">
        <img src="images/user.png" />
        <p>USERNAME</p>
    </div>

    <nav class="nav-menu">
        <li class="active"><a href="http://localhost:8080/"><img src="images/dashboard.png" /> DASHBOARD</a></li>
        <li><a href="http://localhost:8080/emprestimos"><img src="images/emprestimos.png" /> EMPRÉSTIMOS</a></li>
        <li><a href="http://localhost:8080/equipamentos"><img src="images/equipamentos.png" /> EQUIPAMENTOS</a></li>
        <li><a href="http://localhost:8080/equipe"><img src="images/equipe.png" /> EQUIPE</a></li>
        <li><a href="http://localhost:8080/areas"><img src="images/areas.png" />ÁREAS</a></li>
    </nav>

    <nav class="nav-bottom">
        <li><a href="http://localhost:8080/config"><img src="images/config.png" /> CONFIGURAÇÕES</a></li>
        <li><a href="http://localhost:8080/logout"><img src="images/logout.png" /> SAIR</a></li>
    </nav>
</div>