@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Branding';
    src: url('/fonts/Branding Black.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Branding';
    src: url('/fonts/Branding Medium.otf') format('otf');
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}